* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  background: #131522;
}

ul {
  li {
    margin-bottom: 0.5em;
  }
}

.wrapper {
  padding: 30px;
}
