.capsule-information {
  margin: auto;
  width: 100%;
  max-width: 390px;
  padding: 30px 0;

  p {
    display: none;
  }

  img {
    max-width: 100%;
  }

  & > div:nth-child(1),
  & > div:nth-child(2) {
    margin: auto;
    max-width: 235px;
  }
}
