h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1em;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1em;
}
